## Control Flow

### If Statement

_if statement is a conditional statement that runs or skips code based on whether a condition is true or false_

In [2]:

phone_balance = 9
if phone_balance < 10:
    phone_balance += 20
#    bank_balance -= 20
print(phone_balance)

29

In [3]:
phone_balance

29

### If, Elif, Else

_**Use Case: A user is purchasing an Iphone and he needs to know the delivery charges for his country. Write a code to get input from user about his country and let him know the iphone delivery charges**_

# Loops

### For Loops 

_A for loop is used to "iterate", or do something repeatedly, over an iterable_                                                 
_An iterable is an object that can return one of its elements at a time, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files_

In [9]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

In [8]:
# Creating a new list
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())


### While Loops 

_This differs from "indefinite iteration" which is when a loop repeats an unknown number of times and ends when some condition is met, which is what happens in a while loop_

## Write a while loop to get an input from user and print the input 5 times

In [19]:

sum=0
while sum<20000:
    salary=10000
    sum+=salary
    print(sum)

10000
20000

In [9]:

sum=0
while sum<20000:
    print(' You get hike ')
    salary=10000
    sum+=salary

 You get hike
 You get hike


### Break, Continue 

_Sometimes we need more control over when a loop should end, or skip an iteration. In these cases, we use the break and continue keywords, which can be used in both for and while loops_

_break terminates a loop_                                                                                                       
_continue skips one iteration of a loop_


### Zip and Enumerate


_zip returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contains the elements in that position from all the iterables_

In [13]:
#letters = ['a', 'b', 'c']
#nums = [1, 2, 3]

letters = ('a', 'b', 'c')
nums = (1, 2, 3)

for letter, num in zip(letters, nums):
    print("{}: {}".format(letter, num))

a: 1
b: 2
c: 3

In [15]:
# In addition to zipping two lists together, you can also unzip a list into tuples using an asterisk.
some_list = [('a', 1), ('b', 2), ('c', 3)]
letters, nums = zip(*some_list)


### Enumerate


_Enumerate is a built in function that returns an iterator of tuples containing indices and values of a list. You'll often use this when you want the index along with each element of an iterable in a loop_

In [16]:
letters = ['a', 'b', 'c', 'd', 'e']
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d
4 e


### List Comprehensions

In [4]:
# Normal way of writing

cities=['Delhi','Mumbai','Chennai','Kolkata','Bangalore']

capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())

In [3]:
capitalized_cities

['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']

In [5]:
#Using List Comprehensions

capitalized_cities = [city.title() for city in cities]


### Conditionals in List Comprehensions

In [8]:
squares = [x**2 for x in range(9) if x % 2 == 0]

squares

[0, 4, 16, 36, 64]

In [ ]:
# Was this expected
squares = [x**2 for x in range(9) if x % 2 == 0 else x + 3]

In [9]:
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
squares

[0, 4, 4, 6, 16, 8, 36, 10, 64]


# Functions

In [99]:
a=1
def den_pop():
    z=a
    z=z+2
    
    return z
#print(z)
#print(a)

In [101]:
z

NameError: name 'z' is not defined

In [100]:
den_pop()

3

In [81]:
a

1

In [9]:
# Defining Functions
def interest_credited(balance=1000):
    interest = 0.1
    a=balance
    balance+=balance*interest
    return a, balance
#print('The interest credited is : {} and your current total balance is {}'. format(interest,balance))

In [12]:
# function call
interest_credited(2000)

(2000, 2200.0)

In [11]:
a=interest_credited(2000)
print('The interest credited is : {0} and your current total balance is {1}'. format(a[0],a[1]))

The interest credited is : 2000 and your current total balance is 2200.0


## Print vs Return in Functions


# Try Catch exception

In [114]:
a=int(input())
b=int(input())
a/b

2
0

ZeroDivisionError: division by zero

In [119]:


try:
   
   a=int(input())
   b=int(input())
   print(a/b)
   
except ZeroDivisionError:
   # handle all other exceptions
   print("Enter non zero values")
except:
    print('Failure')
finally:
    print('success')

1
0
Enter non zero values
success

In [106]:


try:
   # do something
   a=int(input())
   b=int(input())
   a/b
   
except:
   # handle all other exceptions
   print('Enter non zero numbers')

1
0
Enter non zero numbers

In [110]:


try:
   # do something
   a=int(input())
   b=int(input())
   a/b
   
except ZeroDivisionError:
   # handle all other exceptions
   print('Enter non zero numbers')
    
except:
    print('fail')

1
0
Enter non zero numbers

In [111]:


try:
   # do something
   a=int(input())
   b=int(input())
   a/b
   
except ZeroDivisionError:
   # handle all other exceptions
   print('Enter non zero numbers')
    
except:
    print('fail')
    
finally:
    print('success')

1
0
Enter non zero numbers
success

# Class and Objects

In [179]:
class Python_training:
    '''This is 4th day'''
    
    a = 10
    def func(self):
        
        print('Friday')

In [133]:
# Output: 10
print(Python_training.a)

# Output: <function MyClass.func at 0x0000000003079BF8>
print(Python_training.func)

# Output: 'This is my second class'
print(Python_training.__doc__)

10
<function Python_training.func at 0x0000017D5FEF5730>
This is 4th day