In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('cisco.db')  
  
print ("Opened database successfully")

conn.execute('''CREATE TABLE Employees 
       (ID INT PRIMARY KEY     NOT NULL, 
       NAME           TEXT    NOT NULL, 
       AGE            INT     NOT NULL, 
       ADDRESS        CHAR(50), 
       SALARY         REAL);''')  

print ("Table created successfully")  
  
#conn.close()

Opened database successfully
Table created successfully

In [ ]:
conn.execute("INSERT INTO Employees (ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'Ajeet', 27, 'Delhi', 20000.00 )")  
  
conn.execute("INSERT INTO Employees (ID,NAME,AGE,ADDRESS,SALARY) VALUES (2, 'Allen', 22, 'London', 25000.00 )")
  
conn.execute("INSERT INTO Employees (ID,NAME,AGE,ADDRESS,SALARY) VALUES (3, 'Mark', 29, 'CA', 200000.00 )")  
  
conn.execute("INSERT INTO Employees (ID,NAME,AGE,ADDRESS,SALARY) VALUES (4, 'Kanchan', 22, 'Ghaziabad ', 65000.00 )") 
  
conn.commit()  
print ("Records inserted successfully")

In [6]:
conn.close()

In [7]:
import sqlite3  
  
conn = sqlite3.connect('cisco.db')  
  
data = conn.execute("select * from Employees");  

for row in data:
   print(row) 
#   print ("ID = ", row[0])  
#   print ("NAME = ", row[1])  
#   print ("ADDRESS = ", row[2])  
#   print ("SALARY = ", row[3]) 
  
conn.close();

(1, 'Ajeet', 27, 'Delhi', 20000.0)
(2, 'Allen', 22, 'London', 25000.0)
(3, 'Mark', 29, 'CA', 200000.0)
(4, 'Kanchan', 22, 'Ghaziabad ', 65000.0)

In [13]:
import sqlite3  
  
conn = sqlite3.connect('cisco.db')  
  
data = conn.execute("select * from Employees");

In [11]:
for row in data.fetchall():
   print(row) 
#   print ("ID = ", row[0])  
#   print ("NAME = ", row[1])  
#   print ("ADDRESS = ", row[2])  
#   print ("SALARY = ", row[3]) 
  
conn.close();

(1, 'Ajeet', 27, 'Delhi', 20000.0)
(2, 'Allen', 22, 'London', 25000.0)
(3, 'Mark', 29, 'CA', 200000.0)
(4, 'Kanchan', 22, 'Ghaziabad ', 65000.0)